*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.text
{
    height: 100vh;

    display: grid;
    place-items: center;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

    z-index: -1;
}
